<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<dom-module id="alta-usuario">
  <template>
    <style include="shared-styles">
      :host {
        all: initial;
        display: block;

        padding: 10px;
      }

      #relleno{
        margin-top: 20px;
        width: 68%;
        height: 80%;
        float: left;
      }
      #formulario {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 60%;
        height: auto;
        background-color: #2E2E2E;
        text-align: center;
        float: right;
        color: white;
      }
      input[type=email], input[type=password], input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      button {
        background-color: #B45F04;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }

      button:hover {
        opacity: 0.8;
      }

      .imgcontainer {
        text-align: center;
      }

      iron-icon {
        width: 10%;
        height: 10%;
        border-radius: 50%;
        color: #B45F04;
      }

      .container {
        padding: 16px;
        margin-bottom: 20px;
      }

      span.psw {
        float: right;
        padding-top: 16px;
      }
    </style>

      <div id="relleno"/>
        <div id="formulario">
          <h2 style="text-align:center">Introduce tus datos</h2>

          <div class="imgcontainer">
            <iron-icon icon="account-box" color="#B45F04"></iron-icon></a>
          </div>

          <div class="container">
            <label for="nombre"><b>Nombre</label>
            <input type="text" class="form-control" value="{{nombre::input}}"  placeholder="Introduzca su nombre"></input>

            <label for="apellido1"><b>Primer Apellido</label>
            <input type="text" class="form-control" value="{{apellido1::input}}" placeholder="Introduzca su primer apellido"></input>

            <label for="apellido2"><b>Segundo Apellido</label>
            <input type="text" class="form-control" value="{{apellido2::input}}" placeholder="Introduzca su segundo apellido"></input>

            <label for="mail"><b>Email</b></label>
            <input type="email" value="{{email::input}}" placeholder="Introduce tu email" name="email" required></input>

            <label for="psw"><b>Contraseña</b></label>
            <input type="password" value="{{password::input}}" placeholder="Introduce tu contraseña" name="password" required></input>

            <button on-click="alta" type="submit">Date de Alta</button>
        </div>
     </div>

    <iron-ajax
      id="doAlta"
      url="http://localhost:3000/user"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseUsuario"
      on-error="showErrorUsuario"
    />

  </template>

  <script>
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          nombre: {
            type: String
          }, apellido1: {
            type: String
          }, apellido2: {
            type: String
          }, provincia: {
              type: String
          }, email: {
              type: String
          }, password: {
              type: String
          }, logged: {
              type: Boolean,
              value: false
          }, error: {
              type: Boolean,
              value: false
          },idusuario: {
            type: Number
          }
        };
      }

      alta() {
        console.log("El usuario ha pulsado el botón");
//        var select = document.getElementById("provincia").value;
//        console.log(select)

        var UserData = {
          "name" : this.nombre,
          "first_name" : this.apellido1,
          "last_name" : this.apellido2,
          "email" : this.email,
          "password" : this.password
        }
        console.log(UserData);

        this.$.doAlta.body = JSON.stringify(UserData);
        this.$.doAlta.generateRequest();
        console.log("Peticion enviada");
        console.log(this.$.doAlta.body)

      }

      manageAJAXResponseUsuario (data) {
        console.log("manageAJAXResponse");
        console.log(data.detail.response);
        this.idusuario = data.detail.response.id
        console.log ("id_usuario" + this.idusuario)
        this.logged = true;
        this.dispatchEvent(new CustomEvent("eventoalta", {"detail":{"idusuario":this.idusuario,
                                                                     "nombre":this.nombre,
                                                                     "apellido1":this.apellido1,
                                                                     "apellido2": this.apellido2,
                                                                     "logged": this.logged}}))
      }

      showErrorUsuario (error) {
        console.log("Hubo un error en ajax");
        console.log(error);

        this.error = true;
      }

  }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
