<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<dom-module id="alta-movimiento">
  <template>
    <style include="shared-styles">
    :host {
      all: initial;
    }

    #relleno{
      margin-top: 20px;
      margin-bottom: 20px;
      width: 70%;
      height: 80%;
      float: left;
    }

    #formulario {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 60%;
      height: 98%;
      background-color: #2E2E2E;
      text-align: center;
      float: right;
      color: white;
    }

    #head{
      width: 100%;
      height: 30%;
      background-color: #B45F04;
      color: white;
      margin: 0px;
      font-family: 'Roboto', 'Noto', sans-serif;
      line-height: 2;
    }

    #pie {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
      width: 100%;
      clear: left;
    }

    #boton1 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      width: 40%;
      height: 80%;
      float: left;
    }

    #boton2 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      width: 40%;
      height: 80%;
      float: right;
    }


    input[type=text], input[type=number], input[type=date], select, textarea  {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      background-color: white;
      font-family: 'Roboto', 'Noto', sans-serif;
    }

    .container{
      margin-top: 20px;
      margin-bottom: 20px;
    }

    button {
      background-color: #B45F04;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    iron-icon {
      width: 4%;
      height: 3%;
      color: white;
      margin-top: 0px;
    }
    </style>

    <div id="relleno"/>

    <div id="formulario">
      <div id="head">
        <iron-icon icon="create"></iron-icon>
        <b style="text-align:center">Alta de movimiento</b>
      </div>

        <div class="container">

            <fieldset style="border: none">
                <label style="text-align: left"><b>Tipo de movimiento: Ingreso(+) o Gasto(-)</b></label>
                <input  name="sign" value="{{sign::input}}" placeholder="Si va a dar de alta un ingreso introduzca +, si es un gasto introduzca -" class="form-control"  type="text" pattern="[+|-]" required>

                <label><b>Importe</b></label>
                <input  name="amount" value="{{amount::input}}" placeholder="Introduzca el importe del movimiento en Euros" class="form-control"  type="number" required>

                <label><b>Fecha</b></label>
                <input name="date" value="{{date::input}}" placeholder="Introduzca la fecha del movimiento" class="form-control"  type="date" required>

                <label><b>Descripción del movimiento</b></label>
          	    <textarea required value="{{description::input}}" class="form-control" name="comment" placeholder="Introduce la descripción del movimiento"></textarea>
<!-- Button -->
                <div id="pie">
                  <div id="boton1">
                    <button  type="submit" on-click="volver"><b>Volver</b></button>
                  </div>
                  <div id="boton2">
                    <button on-click="alta" type="submit" data-iban$="{{item.iban}}"><b>Dar de alta</b></button>
                  </div>
          </fieldset>
      </div>
    </div><!-- /.container -->

<!--
    <div class="card">
      <div class="circle">3</div>
      <h1>ALTA USUARIO  balance[[balance]]</h1>
      <label>Signo</label>
      <input type="sign" class="form-control" value="{{sign::input}}"  placeholder="Introduzca el signo"></input>
      <label>Importe</label>
      <input type="amount" class="form-control" value="{{amount::input}}" placeholder="Introduzca el importe"></input>
      <label>Fecha</label>
      <input type="date" class="form-control" value="{{date::input}}"  placeholder="Introduzca la fecha"></input>
      <label>Descripcion</label>
      <input type="description" class="form-control" value="{{description::input}}" placeholder="Introduzca el lugar"></input>
      <br>
      <br>
      <br>
      <button on-click="alta" type="submit" class="btn btn-secondary btn-block">Alta Movimiento</button>
      <button class="btn btn-info" on-click="volver">Volver</button>
      <button class="btn btn-info" on-click="cerrarSesion">Cerrar Sesion</button>
    </div>

  -->

    <iron-ajax
      id="doAlta"
      url="http://localhost:3000/movements"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponsealta"
      on-error="showErroralta"
    />

  </template>

  <script>
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
      return {
        idusuario: {
        type: Number
      }, nombre: {
        type: String
      }, apellido1: {
        type: String
      }, apellido2: {
        type: String
      }, logged: {
        type: Boolean
      }, error: {
        type: Boolean,
        value: false
      }, iban: {
        type: String
      }, balance: {
        type: Number
      }, saldo: {
        type: Number
      }, movements: {
       type: Array
      }, date:{
        type: String
      }, sign:{
        type: String
      }, amount: {
        type: Number
      }, description:{
        type: String
      }, tipo_movimiento:{
        type: String
      }
      };
    }

    alta() {
      console.log("El usuario ha pulsado el botón");

      var MovData = {
        "iban" : this.iban,
        "sign" : this.sign,
        "amount" : this.amount,
        "date" : this.date,
        "description" : this.description,
        "balance" : this.balance
      }

      console.log(MovData);

      this.$.doAlta.body = JSON.stringify(MovData);
      this.$.doAlta.generateRequest();
      console.log("Peticion enviada");
      console.log(this.$.doAlta.body)
    }

    manageAJAXResponsealta (data) {
      console.log("manageAJAXResponsealta");
      console.log(data.detail.response);
      var newbalance = data.detail.response.balance;
      this.sign = null;
      this.amount=null;
      this.date=null;
      this.description=null;
      this.logged=true;
      this.error=false;

      this.dispatchEvent(new CustomEvent("volveralta", {"detail":{"idusuario":this.idusuario,
                                                                    "nombre":this.nombre,
                                                                    "apellido1":this.apellido1,
                                                                    "apellido2": this.apellido2,
                                                                    "iban":this.iban,
                                                                    "balance":data.detail.response.balance}}))


    }


    showErroralta (error) {
      console.log("Hubo un error en ajax");
      console.log(error);

      this.error = true;
    }

    volver (data){
      console.log("volver");
      this.logged = true;
      this.dispatchEvent(new CustomEvent("volveralta", {"detail":{"idusuario":this.idusuario,
                                                                    "nombre":this.nombre,
                                                                    "apellido1":this.apellido1,
                                                                    "apellido2": this.apellido2,
                                                                    "iban":this.iban,
                                                                    "balance":this.balance}}))
    }

    cerrarSesion (data){
      console.log("cerrarSesion");
      var origen = "altamovs";
      this.dispatchEvent(new CustomEvent("logoutalta", {"detail":{"idusuario":this.idusuario, "origen":origen}}))
    }

    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
