<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="shared-styles.html">


<dom-module id="consultar-oficina">
  <template>
    <style include="shared-styles">
      :host {
      all: initial;
      }

    * {
    box-sizing: border-box;
}

    h3, #datos {
    padding: 12px;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: 16px;
    resize: vertical;
    color: white;
}

    #datos {
    height: 100%;
   }

  h2{
    background-color: #B45F04;
    text-align: center;
    color: white;
    line-height: 2;
  }

  h3{
    background-color: grey;
    text-align: center;
    color: white;
  }

  h4{
    text-align: center;
  }

.container {
    border-radius: 5px;
    background-color: #2E2E2E;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    width: 75%;
    height: 75%;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

  </style>


  <div class="container">
  <div style="text-align:center">
    <h2>Contacta con nosotros</h2>
  </div>
  <div class="row">
    <div class="column">
      <div id="map" style="width:100%;height:320px;border: 1px solid black">
        <google-map  zoom=15 latitude=40.424420 longitude=-3.674967 fit-to-markers api-key="AIzaSyAMgQ1FLRexuvh5TD-1QIPrTdlxrY76JZU">
          <google-map-marker latitude=40.424420 longitude=-3.674967 draggable="true"></google-map-marker>
        </google-map>
      </div>
    </div>
    <div class="column" >
        <h3>Datos Sociales</h3>
        <div id="datos">
          <h4>TU BANCO S.A.</h4>
          <h4>CIF: E94716602</h4>
          <h4>Domicilio Fiscal: Calle de Goya 85, Madrid</h4>
          <h4>Telefono: 91 343 454 645</h4>
          <h4>Email: atencioncliente@tubanco.es</h4>
        </div>
    </div>
  </div>
</div>



</template>

  <script>
    class ConsultarOficina extends Polymer.Element {
      static get is() { return 'consultar-oficina'; }
      static get properties() {
      return {
    };
    }
  }

    window.customElements.define(ConsultarOficina.is, ConsultarOficina);
  </script>
</dom-module>
