<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<dom-module id="login-usuario">
  <template>
    <style include="shared-styles">
      :host {
        all: initial;
        display: block;

        padding: 10px;
      }
      #relleno{
        margin-top: 20px;
        width: 68%;
        height: 80%;
        float: left;
      }
      #formulario {
        margin-top: 20px;
        width: 50%;
        height: 98%;
        background-color: #2E2E2E;
        text-align: center;
        float: right;
        color: white;
      }

      input[type=email], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      button {
        background-color: #B45F04;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }

      button:hover {
        opacity: 0.8;
      }

      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }

      iron-icon {
        width: 10%;
        height: 10%;
        border-radius: 50%;
        color: #B45F04;
      }

      .container {
        padding: 16px;
      }

      span.psw {
        float: right;
        padding-top: 16px;
      }
    </style>
  <div id="relleno"/>
  <div id="formulario">
    <h3 style="text-align:center">Introduce tus datos</h3>

    <div class="imgcontainer">
      <iron-icon icon="account-circle" size="30" width="30"></iron-icon></a>
    </div>

    <div class="container">
      <label for="mail"><b>Email</b></label>
      <input type="email" value="{{email::input}}" placeholder="Introduce tu email" name="email" required></input>

      <label for="psw"><b>Contraseña</b></label>
      <input type="password" value="{{password::input}}" placeholder="Introduce tu contraseña" name="password" required></input>

      <button on-click="login" type="submit"><b>Accede a tu banco</b></button>
      <span hidden$="{{!error}}" style="color: white"><b>El email introducido o la contraseña no son correctos, por favor introduzcalos de nuevo</b></span>
    </div>
  </div>

  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/login"
    method="POST"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError"
  />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          name: {
            type: String
          }, apellido1: {
            type: String
          }, apellido2: {
            type: String
          }, email: {
              type: String
          }, password: {
              type: String
          }, logged: {
              type: Boolean,
              value: false
          }, error: {
              type: Boolean,
              value: false
          },idusuario: {
            type: Number
          }
        };
      }

        manageAJAXResponse (data) {
          console.log("manageAJAXResponse");
          console.log(data.detail.response);
          this.logged = true;
          this.error = false;
          this.email= null;
          this.password= null;
          this.dispatchEvent(new CustomEvent("eventologin", {"detail":{"idusuario":data.detail.response.id,
                                                                      "nombre":data.detail.response.name,
                                                                      "apellido1":data.detail.response.first_name,
                                                                      "apellido2":data.detail.response.last_name,
                                                                      "logged": this.logged,
                                                                      "error": this.logged}}))
        }

        showError (error) {
          console.log("Hubo un error en ajax");
          console.log(error);
          this.email=null;
          this.password=null;
          this.error = true;
        }

        login() {
          console.log("El usuario ha pulsado el botón");

          var loginData = {
            "email" : this.email,
            "password" : this.password
          }
          console.log(loginData);

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Peticion enviada");
          console.log(this.$.doLogin.body)
        }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
