<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<dom-module id="logout-usuario">
  <template>
    <style include="shared-styles">
      :host {
        all: initial;
      }

      #relleno{
        margin-top: 30px;
        width: 20%;
        float: left;
      }
      #formulario {
        margin-top: 30px;
        width: 60%;
        background-color: #2E2E2E;
        text-align: center;
        float: left;
        color: white;
      }

      #relleno2{
        margin-top: 30px;
        width: 20%;
        float: left;
      }

      #pie {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        width: 100%;
        clear: left;
      }

      #boton1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 60%;
        height: 20%;
        float: left;
      }

      #boton2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 60%;
        height: 20%;
        float: left;
      }

      button:hover {
        opacity: 0.8;
      }

      button {
        background-color: #B45F04;
        color: white;
        margin: 8px;
        cursor: pointer;
        text-align: center;
        border: none;
        padding: 14px 20px;
      }

    </style>

    <div id="relleno"></div>
    <div id="formulario" class="card">
      <h3>¿Seguro que desea cerrar la sesion?</h3>
      <p></p>
      <div id="pie">
        <button on-click="volver"><b>Cancelar</b></button>
        <button on-click="logout"><b>Salir</b></button>
      </div>
    </div>
    <div id="relleno2"></div>


    <iron-ajax
      id="doLogout"
      method="POST"
      url="http://localhost:3000/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>

    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
           logged: {
              type: Boolean,
          }, error: {
              type: Boolean,
              value: false
          }, idusuario: {
            type: String
          }, msg: {
            type: String
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
              type: String
          }, password: {
              type: String
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, saldo: {
            type: Number
          }
        };
      }

        manageAJAXResponse (data) {
          console.log("manageAJAXResponse");
          console.log(data.detail.response);
          this.email = null;
          this.password = null;
          this.logged = false;
          this.error = false;
          this.dispatchEvent(new CustomEvent("eventologout", {"detail": {"email":this.email,
                                                                         "password":this.password,
                                                                         "logged":this.logged,
                                                                         "error":this.error}}))
        }

        showError (error) {
          console.log("Hubo un error en ajax");
          console.log(error);

          this.error = true;
        }

        logout () {
          console.log("Hago el logout directamente");

          var logoutData = {
            "id" : this.idusuario
          }
          console.log(logoutData);

          this.$.doLogout.body = JSON.stringify(logoutData);
          this.$.doLogout.generateRequest();
          console.log("Peticion enviada");
          console.log(this.$.doLogout.body)
        }


        volver (data){
        console.log("volver");
        this.logged = true;
        this.dispatchEvent(new CustomEvent("volverlogout", {"detail":{"iban":this.iban,
                                                                      "balance": this.balance,
                                                                      "idusuario":this.idusuario,
                                                                      "first_name":this.first_name,
                                                                      "last_name":this.last_name,
                                                                      "logged": this.logged}}))
        }

    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
