<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">



<link rel="lazy-import" href="login-usuario.html">
<link rel="lazy-import" href="alta-usuario.html">
<link rel="lazy-import" href="visor-cuentas.html">
<link rel="lazy-import" href="visor-movimientos.html">
<link rel="lazy-import" href="logout-usuario.html">
<link rel="lazy-import" href="alta-movimiento.html">
<link rel="lazy-import" href="consultar-oficina.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #1C1C1C;
        --app-secondary-color: #B45F04;
      }

      app-drawer-layout {
        background-image: url("../images/paper-3190198_1280.jpg");


      }
      app-header {
        color: #fff;
        background-color: #2E2E2E;
      }

      #container {
        width: 800px;
        height: 300px;
        margin: auto;
        margin-top: 60px;
      }

      #alta {
        width: 280px;
        height: 250px;
        margin-left: 100px;
        color: #585858;
        background-color: #eeeeee;
        border-style: #4285f4;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        float: left;
      }

      #centro{
        width: 50px;
        height: 250px;
        float: left;
      }

      #login {
        width: 280px;
        height: 250px;
        margin-right: : 100px;
        color: #585858;
        background-color: #eeeeee;
        border-style: #4285f4;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        float: right;
      }

      #espacio{
        width: 800px;
        clear: both;
      }

      #footer{
        width: 800px;
        clear: both;
      }

      a{
        color: white;
        text-decoration: none;
      }

    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>



    <app-drawer-layout fullbleed narrow="{{narrow}}">

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">

            <div hidden$={{logged}} main-title style="align:center; text-align:center; vertical-align:middle"><b>Bienvenido a tu banco</b></div>
            <div hidden$={{!logged}} main-title style="align:center; text-align:center; vertical-align:middle"><h3><b>Bienvenido {{nombre}} {{apellido1}} {{apellido2}}</b></h3></div>
            </iron-selector selected="[[page]]" attr-for-selected="name" role="navigation">
                <a  hidden$={{logged}} name="login-usuario" href="[[rootPath]]login-usuario">Area Privada<paper-icon-button icon="icons:lock-open" size="20" width="20" color="#B45F04"></paper-icon-button></a>
                <a  hidden$={{logged}} name="alta-usuario" href="[[rootPath]]alta-usuario">Hazte Cliente<iron-icon icon="account-box"></iron-icon></a>
                <a  hidden$={{!logged}} name="visor-cuentas" href="[[rootPath]]visor-cuentas">Tus cuentas<iron-icon icon="dashboard"></iron-icon></a>
                <a  hidden name="visor-movimientos" href="[[rootPath]]visor-movimientos">Consulta tus movimientos</a>
                <a  hidden$={{!logged}} name="logout-usuario" href="[[rootPath]]logout-usuario">Cerrar Sesión<iron-icon icon="exit-to-app"></iron-icon></a>
                <a  hidden name="alta-movimiento" href="[[rootPath]]alta-movimiento">Alta de movimiento</a>
                <a  hidden$={{!logged}} name="consultar-oficina" href="[[rootPath]]consultar-oficina">Contacta con nosotros<iron-icon icon="perm-phone-msg"></iron-icon></a>
           </iron-selector>

        </app-header>


        <iron-pages selected="[[page]]" attr-for-selected="name" role="main">
          <login-usuario name="login-usuario" on-eventologin="consultarCuentas"></login-usuario>

          <alta-usuario name="alta-usuario" on-eventoalta="consultarCuentas"></alta-usuario>
          <visor-cuentas name="visor-cuentas" idusuario={{idusuario}} nombre={{nombre}} apellido1={{apellido1}} apellido2={{apellido2}} on-eventomovimientos="consultarMovimientos" on-logoutcuentas="cerrarSesion"></visor-cuentas>
          <visor-movimientos name="visor-movimientos" id="receiver" on-volvermovimientos="consultarCuentas" on-logoutmovimientos="cerrarSesion" on-altamovimiento="altaMovimiento"></visor-movimientos>
          <logout-usuario name="logout-usuario" idusuario={{idusuario}} nombre={{nombre}} apellido1={{apellido1}} apellido2={{apellido2}} iban={{iban}} balance={{balance}} on-eventologout="cargarMyApp" on-volverlogout="consultarCuentas"></logout-usuario>
          <alta-movimiento name="alta-movimiento" idusuario={{idusuario}} nombre={{nombre}} apellido1={{apellido1}} apellido2={{apellido2}} iban={{iban}} balance={{balance}} on-volveralta="consultarMovimientos" on-logoutalta="cerrarSesion"></alta-movimiento>
          <consultar-oficina name="consultar-oficina"></consultar-oficina>
        </iron-pages>
        </app-header-layout>
      </app-drawer-layout>

  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          }, logged: {
              type: Boolean,
              value: false
            },routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'my-app';

        // Close a non-persistent drawer when the page & route are changed.
  //      if (!this.$.drawer.persistent) {
  //        this.$.drawer.close();
  //      }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        console.log("entro en _pageChanged" + page);
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this.cargarMyApp.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      consultarCuentas(e) {
       //location.reload();
       console.log("consultarCuentas");
       this.page = "visor-cuentas";
       this.set('route.path', "/visor-cuentas");
       console.log ("e.detail.idusuario" + e.detail.idusuario);
       console.log ("e.detail.nombre" + e.detail.nombre);
       console.log ("e.detail.apellido1" + e.detail.apellido1);
       console.log ("e.detail.apellido2" + e.detail.apellido2);
       console.log ("e.detail.logged" + e.detail.logged);
       console.log ("e.detail.newidusuario" + e.detail.newidusuario);
       this.idusuario = e.detail.idusuario;
       this.nombre = e.detail.nombre;
       this.apellido1 = e.detail.apellido1;
       this.apellido2 = e.detail.apellido2
       this.logged= e.detail.logged;
       this.newidusuario= e.detail.newidusuario;
     }

     consultarMovimientos(e) {
      console.log("consultarMovimientos");
      this.page = "visor-movimientos";
      this.set('route.path', "/visor-movimientos");
      console.log ("e." + e);
      console.log ("e.detail" + e.detail);
      console.log ("e.detail.idusuario" + e.detail.idusuario);
      console.log ("e.detail.nombre" + e.detail.nombre);
      console.log ("e.detail.apellido1" + e.detail.apellido1);
      console.log ("e.detail.apellido2" + e.detail.apellido2);
      console.log ("e.detail.iban" + e.detail.iban);
      console.log ("e.detail.balance" + e.detail.balance);
      console.log ("e.detail.newbalance" + e.detail.newbalance);
      this.$.receiver.idusuario = e.detail.idusuario;
      this.$.receiver.nombre = e.detail.nombre;
      this.$.receiver.apellido1 = e.detail.apellido1;
      this.$.receiver.apellido2 = e.detail.apellido2;
      this.$.receiver.iban = e.detail.iban;
      this.$.receiver.balance = e.detail.balance;
      this.$.receiver.newbalance = e.detail.newbalance;
    }

    cerrarSesion(e) {
     console.log("cerrarSesion");
     this.page = "logout-usuario";
     this.set('route.path', "/logout-usuario");
     console.log ("e.detail.idusuario" + e.detail.idusuario);
     console.log ("e.detail.origen" + e.detail.origen);
     this.idusuario = e.detail.idusuario;
     this.origen = e.detail.origen;
   }

   cargarMyApp (e){
     console.log("cargarMyApp");
     this.page = "my-app";
     this.set('route.path', "/");
     this.logged=e.detail.logged;
   }

   altaMovimiento(e) {
    console.log("altaMovimiento");
    this.page = "alta-movimiento";
    this.set('route.path', "/alta-movimiento");
    this.iban = e.detail.iban;
    this.balance = e.detail.balance;
    this.idusuario = e.detail.idusuario;
    this.nombre = e.detail.nombre;
    this.apellido1 = e.detail.apellido1;
    this.apellido2 = e.detail.apellido2;
  }

   loginUsuario (){
     console.log("loginUsuario");
     this.page = "login-usuario";
     this.set('route.path', "/login-usuario");

   }
 }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
