<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
    :host {
      all: initial;
    }

    #relleno{
      margin-top: 40px;
      float: left;
      width: 15%;
    }

    #datos {
      margin-top: 40px;
      text-align: center;
      color: white;
      float: left;
      width: 70%;
      background-color: #2E2E2E;
    }

    #relleno2{
      margin-top: 40px;
      float: left;
      width: 15%;
    }

    #head{
      text-align: center;
      width: 100%;
      height: 30%;
      background-color: #B45F04;
      color: white;
      margin: 0px;
      font-family: 'Roboto', 'Noto', sans-serif;
      line-height: 2;
    }

    #titulo {
      background-color: #2E2E2E;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      color: white;
      font-family: 'Roboto', 'Noto', sans-serif;
      width: 80%;
      height: 80%;
    }

    #tabla {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 70%;
      height: 70%;
    }

    #pie {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px;
      width: 100%;
      clear: left;
    }

    #detallemovimientos{
      color: white;
      float: left;
      background-color: #2E2E2E;
      text-align: center;
      width: 70%;
      height: 80%;
      margin-top: 20px;
    }

    #boton1 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      width: 50%;
      height: 80%;
      float: left;
    }

    #boton2 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      width: 50%;
      height: 80%;
      float: left;
    }

    table {
      text-align: center;
      width: 100%;
      height: 100%;
    }

   thead {
      border-bottom-style: solid;
      border-bottom-color: grey;
      background-color: grey;
      text-align: center;
    }

    tbody {
     }

   th {
       text-align: left;
       border-bottom-style: solid;
       border-bottom-color: grey;
     }

    button {
      background-color: #B45F04;
      color: white;
      margin: 8px;
      cursor: pointer;
      text-align: center;
      border: none;
      padding: 14px 20px;
    }
    </style>

    <div class="container mt-3">
      <div id="relleno"/></div>
      <div id="datos">
        <div id="head">
          <b>Movimientos de la cuenta:</b>
          <b>[[iban]]</b>
        </div>
      <div id="titulo">
        <h3 hidden$="{{error}}">El saldo de la cuenta es: [[balance]] €</h3>
        <b hidden$="{{error}}"></b>
        <span hidden$="{{!error}}" style="text-align: center"><b>Esta cuenta no tiene movimientos asociados</b></span>
        <span hidden$="{{!error}}"><p></p></span>
      </div>
      <div hidden$="{{error}}" id="tabla">
      <table>
        <thead>
          <tr style="text-align:center"><strong>
            <th>Signo</th>
            <th>Importe</th>
            <th>Fecha</th>
            <th>Descripción</th>
          </strong>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{movements}}">
            <tr>
              <th style="text-align:center">{{item.sign}}</th>
              <th style="text-align:center">{{item.amount}} €</th>
              <th>{{item.date}}</th>
              <th>{{item.description}}</th>
            </tr>
          </template>
        </tbody>
       </table>
      </div>
    <div id="pie">
      <div id="boton1">
        <button  type="submit" on-click="volver"><b>Volver</b></button>
      </div>
      <div id="boton2">
        <button type="submit" on-click="altaMovimientos" data-iban$="{{item.iban}}"><b>Alta movimientos</b></button>
      </div>
  </div>
    </div>
  <div id="relleno2"></div>
    </div>


  <iron-ajax auto
  id="doConsulta"
  url="http://localhost:3000/movements/{{iban}}"
  handle-as="json"
  on-response="showData"
  on-error="showError"
  />


  </template>




  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
      return {
        idusuario: {
        type: String
      }, name: {
        type: String
      }, apellido1: {
        type: String
      }, apellido2: {
        type: String
      },logged: {
        type: Boolean
      }, error: {
        type: Boolean,
        value: false
      }, iban: {
        type: String
      }, balance: {
        type: Number,
         observer: '_balanceChanged'
      }, newbalance: {
            type: Number
      }, saldo: {
        type: Number
      }, movements: {
       type: Array
      }, date:{
        type: String
      }, sign:{
        type: String
      }, amount: {
        type: Number
      }, description:{
        type: String
      }
      };
    }

      showData (data) {
            console.log("en visor movimientos");
            console.log(data.detail.response);
            this.error = false;
            this.movements=data.detail.response;
            console.log("data.detail.response[0]" + data.detail.response[0]);
            this.iban=data.detail.response[0].iban;
            this.sign=data.detail.response[0].sign;
            this.amount=data.detail.response[0].amount;
            this.date=data.detail.response[0].date;
            this.description=data.detail.response[0].description;
      }

      showError (error) {
        console.log("Hubo un error en ajax");
        console.log(error);
        this.error = true;
      }

      altaMovimientos(data){
        console.log("alta movimientos");
        console.log(this.iban);
        this.error = false;
        this.dispatchEvent(new CustomEvent("altamovimiento", {"detail":{"iban":this.iban,
                                                                        "balance": this.balance,
                                                                        "idusuario":this.idusuario,
                                                                        "nombre":this.nombre,
                                                                        "apellido1":this.apellido1,
                                                                        "apellido2": this.apellido2}}))
      }

      volver (data){
        console.log("volver");
        this.newidusuario = this.idusuario;
        this.idusuario = 0;
        this.logged = true;
        this.error = false;
        console.log("this.newidusuario" + this.newidusuario);
        console.log("this.idusuario" + this.idusuario);
        this.dispatchEvent(new CustomEvent("volvermovimientos", {"detail":{"iban":this.iban,
                                                                      "balance": this.balance,
                                                                      "idusuario":this.idusuario,
                                                                      "nombre":this.nombre,
                                                                      "apellido1":this.apellido1,
                                                                      "apellido2": this.apellido2,
                                                                      "newidusuario":this.newidusuario,
                                                                      "logged": this.logged
                                                                      }}))
      }

      _balanceChanged (newValue, oldValue)    {
          console.log("balance value has changed");
          console.log("Old value was: " + oldValue);
          console.log("New value was: " + newValue);
          console.log("IBAN: " + this.iban);
          this.error = false;
          // var ibanSpaces = this.iban;
          // this.iban = JSON.stringify(ibanSpaces)
          this.$.doConsulta.generateRequest();
        }

  }
  window.customElements.define(VisorMovimientos.is, VisorMovimientos);

  </script>
</dom-module>
