<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        all: initial;
      }

      #relleno{
        margin-top: 40px;
        float: left;
        width: 15%;
      }

      #datos {
        margin-top: 40px;
        text-align: center;
        color: white;
        float: left;
        width: 70%;
        background-color: #2E2E2E;
      }

      #relleno2{
        margin-top: 40px;
        float: left;
        width: 15%;
      }

      #head{
        text-align: center;
        width: 100%;
        height: 30%;
        background-color: #B45F04;
        color: white;
        margin: 0px;
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 2;
      }

      #titulo {
        background-color: #2E2E2E;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        color: white;
        font-family: 'Roboto', 'Noto', sans-serif;
        width: 80%;
        height: 80%;
      }

      #tabla {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 70%;
        height: 70%;
      }

     thead {
        border-bottom-style: solid;
        border-bottom-color: grey;
      }

      tbody {
       }

     th {
         text-align: left;
         padding: 6px;
         border-bottom-style: solid;
         border-bottom-color: grey;
       }

      button {
        background-color: #B45F04;
        color: white;
        margin: 8px 0;
        cursor: pointer;
        text-align: center;
        width: 90%;
        height: 20%;
        border: none;
      }

    </style>
        <div class="container mt-3"/>
        <div id="relleno"/></div>
        <div id="datos">
          <div id="head">
            <b>Cuentas Personales</b>
          </div>
            <div id="titulo">
              <br></br>
              <b>Su posición global es de:     [[saldo]]€</b>
            </div>
            <div id="tabla">
              <table class="table">
                <thead>
                  <tr>
                    <th><b>Número de Cuenta</b></th>
                    <th><b>Saldo  </b></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{accounts}}">
                    <tr>
                      <th>{{item.iban}}</th>
                      <th>{{item.balance}} €  </th>
                      <th style="text-align:right"><button class="btn btn-info" on-click="mostrarMovimientos" data-iban$="{{item.iban}}" data-saldo$={{item.saldo}}><b>Ver movimientos</b></button></th>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
          <div id="relleno2"></div>
      </div>


   <iron-ajax auto
   id="doconsultaCuentas"
   url="http://localhost:3000/accounts/{{idusuario}}"
   handle-as="json"
   on-response="showData"
   on-error="showError"
   />

  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idusuario: {
          type: String,
          observer: '_idUsuarioChanged'
        }, nombre: {
          type: String
        }, apellido1: {
          type: String
        }, apellido2: {
          type: String
        }, logged: {
          type: Boolean
        }, error: {
          type: Boolean,
          value: false
        }, iban: {
          type: String
        }, accounts: {
         type: Array
        }, balance: {
          type: Number
        }, saldo: {
          type: Number
        }
        };
      }

      showData (data) {
            console.log("showData");
            console.log(data.detail.response);

            this.accounts=data.detail.response.body;


            this.iban=data.detail.response.body[0].iban;
            this.balance=data.detail.response.body[0].balance;
            this.saldo=data.detail.response.suma;

          }
      showError (error) {
        console.log("Hubo un error en ajax");
        console.log(error);
        this.error = true;
      }

      mostrarMovimientos (data){
        var model = data.model;
        console.log("model" + model);
        console.log("data.model.item.iban" + data.model.item.iban);
        console.log("data.model.item.balance" + data.model.item.balance);
        console.log ("this.idusuario" + this.idusuario);
        console.log ("this.nombre" + this.nombre);
        console.log ("this.apellido1" + this.apellido1);
        console.log ("this.apellido2" + this.apellido2);
        this.dispatchEvent(new CustomEvent("eventomovimientos", {"detail":{"idusuario":this.idusuario,
                                                                           "nombre":this.nombre,
                                                                           "apellido1":this.apellido1,
                                                                           "apellido2":this.apellido2,
                                                                           "iban":data.model.item.iban,
                                                                           "balance":data.model.item.balance }}))
          }

      _idUsuarioChanged (newValue, oldValue)    {
          console.log("idusuario value has changed");
          console.log("Old value was: " + oldValue);
          console.log("New value was: " + newValue);
          if (newValue == 0 ) {
             this.idusuario = oldValue
          }
          console.log("idusuario: " + this.idusuario);
          this.$.doconsultaCuentas.generateRequest();
        }


    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
