<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<dom-module id="visor-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">3</div>
      <h1>VISOR USUARIO</h1>
      <p>recibo el id de usuario [[id]]</p>
      <p> el nombre de usuario [[first_name]]</p>
      <p>el apellido de usuario [[last_name]]</p>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.Has at minim mucius aliquam, est id tempor laoreet.Pro saepe pertinax ei, ad pri animal labores suscipiantur.</p>
    </div>
  </template>

  <script>
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
          type: String
        }, first_name: {
          type: Number
        }, last_name: {
          type: Number
        }, logged: {
          type: Boolean
        }, idcuentas: {
          type: String
        }, iban: {
          type: Number
        }, accounts: {
         type: Array
        }, balance: {
          type: Number
        }, saldo: {
          type: Number
        }
        };
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
